.multiselect {
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

.multiselect__content-wrapper /*, .multiselect__element */ {
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

.multiselect__option {
  width: 100%; 
}

.multiselect--active {
  z-index: 2000;
}

.multiselect__content-wrapper {
  z-index: 2000;
}

.multiselect__option--highlight {
  background-color: #888;
}

.multiselect__option--selected.multiselect__option--highlight {
  background-color: #777;
}
.multiselect__tags {
  cursor: pointer;
}