html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  height: 90vh;
}

#main-column {
  padding: 0;
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#main-content {
  width: 100%;
  height: 100%;
}

.zones-layer {
  z-index: 0;
}

.manage {
  width: 25%;
}

.column {
  padding-right: 0;
}

.columns {
  padding: 0;
}

#columns-content {
  width: 100%;
  height: 100%;
}

.multiselect {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  float: left;
  margin-right: 1vh;
}

#selectors {
    margin: 2vh 0vh 1vh 4vh;
}

.selector {
  padding-right: 0;
}

.multiselect__content-wrapper /*, .multiselect__element */ {
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

.multiselect__option {
  width: 100%; 
}

.multiselect--active {
  z-index: 2000;
}

.multiselect__content-wrapper {
  z-index: 2000;
}

.multiselect__option--highlight {
  background-color: #888;
}

.multiselect__option--selected.multiselect__option--highlight {
  background-color: #777;
}
.multiselect__tags {
  cursor: pointer;
}

.b-checkbox.checkbox + .checkbox {
  margin: 0;
  width: 100%;
}

.tabs li.is-active a {
  color: #167df0;
  border-bottom-color:#167df0;
}

.flex {
  display: flex
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-modal {
  z-index: 2000 !important;
}
